@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* 1.34375rem */

*, *::before, *::after{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 90rem;
    width:86%;
    margin:auto;
}

.navbar {
    padding: 1.9rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo-container {
    display: flex;
    align-items: center;
}
.navbar .logo-container .logo {
    width: 4.6rem;
    height: 4.6rem;
    padding-right: 0.5rem;
}

.navbar .logo-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: #404347;
}

.navbar .menu {
    display: none;
}

@media screen and (max-width: 900px) {
.navbar ul li{
display: none;
}
.navbar button {
display: none;
}
.navbar .menu {
    display: flex;
    width: 2rem;
}
.section {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.25rem;
}
.hero-container {
    grid-column: span 2; 
    align-items: center;
    margin-top: 5rem;
}
.section .hero-image {
    grid-column: span 2; 
}

.feature-content{
    margin-top: 5rem;
    grid-column: span 2;

}
.section #feature-2-content .hero-image{
    order:-1;
}
.section #feature-2-content {
    order:1;
    /* padding-left: 0rem; */
}

}
    
.navbar .logo {
    width: calc(167rem/16);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.34375rem;
}

.navbar ul li {
    font-weight: 600;
    color: #858A8F;
}

.navbar ul li > span + img {
    padding-left:0.96875rem;
}


.btn {
    background-color: #0176FF;
    color: #fff;
    padding: 1rem 2rem;
    font-size: clamp(1rem, 1.250vw,1.2rem);
    font-weight: 600;
    border: none;
    border-radius: 5px ;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.section .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.section .hero-container h1 {
    color: #333333;
    font-size: clamp(2rem,4.167vw,3.75rem);
    font-weight: 700;
    width: clamp(25rem, -3.198rem + 42.235vw, 34.813rem);
    line-height: clamp(3rem, 5.069vw,4.563rem);
}

.section .hero-container p {
    margin-top: 2.25rem;
    font-weight: 500;
    font-size:clamp(1.1rem,1.389vw, 1.25rem);
    color: #858A8F;
    width: clamp(25rem, -3.198rem + 42.235vw, 34.813rem);
    line-height: 2.25rem;
    
}

.section .hero-container button {
    margin-top: calc(50rem/16);
    width: clamp(18rem, -1.38rem + 23.617vw, 19.875rem);
    height: calc(66rem/16);
}

.section .hero-container span{
    margin-top: 1.406rem;
    line-height: 22px;
    font-size: 18px;
    color:#858A8F;
}


.section .hero-image {
    display: flex;
    justify-content: center;
    position: relative;
} 

.section .hero-image img.background-img {
    padding-top: 4rem;
    height: auto;
    width:clamp(14rem, -5.758rem + 50.426vw, 39.625rem);
    position:relative;
    z-index:-1;
}

.section .hero-image img.iphone-img {
    height: auto;
    width: clamp(14rem, -2.766rem + 40.851vw, 34rem);
    position: absolute;
    top: 4.9%;
    left: 19%;
    /* left: clamp(19%%,19%,34%); */
    z-index: 0;
}




.popover {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 25.5%;
    right: 38%; 
    z-index: 1;
    background-color: #fff;
    width: clamp(10rem, 22.222vw, 20rem);
    padding: 1.467vw 1.307vw;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(75, 72, 72, 0.1);
}

.popover p {
    color: #333333;
    font-weight: 600;
    font-size:clamp(0.4rem,1.250vw,1.1rem);
    line-height: clamp(1rem,1.944vw, 1.7rem);
    margin-left: 2rem;
}


.popover-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 60%;
    right:5.4%; 
    z-index: 1;
    background-color: #fff;
    width: clamp(10rem, 22.222vw, 20rem);
    padding: 1.467vw 1.307vw;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(75, 72, 72, 0.1);
}

.popover-2 p {
    color: #333333;
    font-weight: 600;
    font-size:clamp(0.4rem,1.250vw,1.1rem);
    line-height: clamp(1rem,1.944vw, 1.7rem);
    margin-left: 2rem;
}

@media screen and (max-width: 900px){
    .section .hero-image img.iphone-img {
        left: 34%;
    }

    .section .hero-image img.iphone-img {
        top: 5.5%;
    }
    .popover-2 {
        right:24.4%;
    }
}

@media screen and (max-width:500px) {
    .section .hero-image img.iphone-img {
        left:28%;
    }
    .popover-2 {
        right: 1.4%;
    }
}

.partners span {
    display: flex;
    font-size: calc(24rem/16);
    font-weight: 500;
    line-height: 29px;
    color:#858A8F;
    margin-top: 5rem;
}

.partners ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding-bottom: clamp(3.5rem,5.556vw,5.5rem);
}

@media screen and (max-width: 900px){
.partners ul {
    justify-content: center;
    gap: 2rem;
}
.partners>span {
    justify-content: center;
    text-align: center;
}
}

#feature-1 {
    margin-top: 14px;
}

.section #feature-1-img {
    padding-top: 2rem;
    justify-content: flex-start;
}

.section #feature-1-img .background-img {
    position: relative;
    z-index: -1;
}

.section #feature-1-img .iphone-img {
    position: absolute;
    left:10%;
    top:2%;
    z-index: 0;
    margin-bottom: calc(14rem/16);
}


.section .feature-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: clamp(0rem, 7.361vw, 6.625rem);

}


.section .feature-content h1 {
    font-size: clamp(2rem,4.167vw,3.75rem);
    font-weight: 700;
    color: #333333;
    width: clamp(20rem, -3.198rem + 42.235vw, 34.813rem);
    line-height: clamp(3rem, 5.069vw,4.563rem);
}

.section .feature-content p {
    font-size: clamp(1.1rem,1.389vw, 1.25rem);
    font-weight: 500;
    line-height: 2.25rem;
    width: clamp(20rem, -3.198rem + 42.235vw, 34.813rem);
    color: #858A8F;
    padding-top: clamp(1rem,2.222vw,2rem);
}



.section .feature-content .card-1 {
    display: flex;
    padding-top: 2rem;
    flex-direction: row;
    gap:clamp(1rem,2.222vw,2rem);
}

.section .feature-content .card-1 .card-1-img{
    display: flex;
    align-items: flex-start;
}



.section .feature-content .card-1 .card-1-content h3{
    color: #333333;
    font-size: clamp(1.1rem, 1.667vw, 1.45rem);
    font-weight: 600;
    line-height: 29px;
}

.section .feature-content .card-1 .card-1-content p{
    font-weight: 500;
    font-size: clamp(1rem, 1.250vw,1.125rem);
    line-height: 2rem;
    width: clamp(16rem,33.333vw,30rem);
}

.smile-img {
    width: clamp(3rem,5.139vw,4.625rem);
    height: auto;
}

@media screen and (max-width:900px) {
    .section #feature-1-img {
        justify-content: center;
    }
    .section #feature-1-img .iphone-img {
        left:16%;
    }
 
    .section #feature-1-img .iphone-img{
        left: 32.5%;
        top:12%;
    }
    }

@media screen and (max-width:600px) {
    .section #feature-1-img .iphone-img{
        left: 22%;
    }
    .section .hero-container p {
        width: 20rem;
    }
    .section .hero-container h1 {
        width: 20rem;
    }
    
}
#feature-2 {
    padding-top: 220px;
    margin-top: 14px;
    align-items: flex-start;
}

.partners-img {
    height: auto;
    width: clamp(5rem,12.778vw,11.5rem);
}


#feature-2 #feature-2-img .background-img {
    padding-bottom: 2rem;
}

#feature-2 #feature-2-img .iphone-img {
    left: 15.5%;
    top:0%;
    margin-bottom: calc(14rem/16);
}


@media screen and (max-width: 900px) {
    #feature-2{
        padding-top:50px;
    }
    #feature-2 #feature-2-img .iphone-img {
        left: 34.5%;
        top: 4%;
    }

    }

@media screen and (max-width: 600px) {
    #feature-2 #feature-2-img .iphone-img {
    left:22.5%;
    }
}
    
.footer-main .footer-hero {
    margin-top: 8rem;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 37% repeat(4,1fr);;
}




.footer-main .footer-hero .footer-logo p{
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #858A8F;
    width: calc(282rem/16);
    margin-bottom: 2rem;
}

.footer-main .footer-hero .footer-logo .social-icons {
    display: flex;
    gap: 1.5rem;
}

.footer-main .footer-hero .footer-section h4{
    width: 8rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: calc(29rem/16);
    color: #333333;
    margin-bottom: 1.7rem;
}

.footer-main .footer-hero .footer-section ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.18rem;
    color: #858A8F;
}


.footer-main .copyright {
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.4rem;
    color: #858A8F;
}



@media screen and (max-width: 900px) {
.footer-main .footer-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main .footer-hero .footer-logo{
    text-align: center;
}

.footer-main .footer-hero {
    margin-top: 0;
}

.social-icons {
    margin-bottom: 2rem;
}

.footer-section{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    width: 18rem;
}


.footer-main .footer-hero .footer-section ul{
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
}
}

.section .feature-content .card-1 .card-1-img {
    height: auto;
    width: clamp(2.5rem, 5.139vw, 4.625rem);
}


/* @media screen and (max-width:1300px) and (min-width:900px){
.section {
    display: grid;
    grid-template-columns: ;
}
} */


@media screen and (max-width:1300px) {

}
